<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="resources/js/app.js"></script>

    <script src="resources/js/LoginController.js"></script>
    <script src="resources/js/LoginService.js"></script>

    <script src="resources/js/HomeController.js"></script>

    <script src="resources/js/MovieController.js"></script>
    <script src="resources/js/MovieService.js"></script>

    <script src="resources/js/UserController.js"></script>
    <script src="resources/js/UserService.js"></script>

    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <div ng-view></div>
    </div>
</body>
</html>